$color-white: #fff;
$color-black: #000;
$color-yellow: rgb(225, 225, 1);

$color-primary: #101725;
$color-secondary: #104aad;
$color-light: #f7f7f7;
$color-danger: #ef2253;

$color-text-primary: #000;
$color-text-secondary: #7e848f;

$color-border: rgba(0, 0, 0, 0.05);
$color-bg-body: #110f29;
// $color-bg-footer: #101725;
